*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection{
	background: rgba(0,0,0,.2);
}

body{
	background: #E9E9E9;
	font: 1em 'Roboto' ,sans-serif;
}

.container{
	max-width: 900px;
	margin: 0 auto;
	background: #F6F6F6;
	border-top: 5px solid #333;
	color: #333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	padding: 50px 25px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.contact{
	font-size: 40px;
	position: relative;
	color: #333;
}

.contact p{
	transform: scaleX(0);
	transform-origin: right;
	opacity: 0;
	transition: .2s;
	position: absolute;
	right: 40px;
	padding-right: 5px;
	bottom: 25%;
	font-size: .5em
}

.contact:hover p{
	transform: scaleX(1);
	opacity: 1
}

.main{
	padding: 25px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	flex: 1;
}

.main > div{
	flex: 1;
}

ul{
	list-style: none;
	margin: 20px 0 0 5px;
}

ul li:not(:first-child){
	margin-top: 5px
}

ul a{
	text-decoration: none;
	color: #333;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

ul a:after{
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	transform: rotate(45deg);
	margin-left: 5px;
	transition: .2s
}

ul a:hover:after{
	margin-left: 10px
}

footer{
	text-align: center;
	padding: 50px 25px;
	font-size: .8em;
	text-transform: uppercase;
	font-weight: bold;
}

footer a{
	text-decoration: none;
}

@media screen and (max-width: 460px) {
	.contact p{
		display: none
	}

	.main{
		flex-direction: column;
	}

	.portfolio{
		margin-top: 50px
	}
}