.main
	display: flex
	align-items: center
	justify-content: center
	position: relative
	&__brend-img
		width: 400px
		height: auto
	&__box
		padding: 50px 30px
		width: 330px
		text-align: center
		.time-left
			text-align: center
			font-size: 36px
			color: rgba($color-gold, .7)
			font-weight: bold
			line-height: 1
			display: inline-block
			margin-bottom: 10px
			text-transform: uppercase
			small
				font-size: 22px
		.clock
			font-size: 36px	
			color: $color-gold
			font-weight: bold
			line-height: 1
			text-transform: uppercase
	&__button
		margin-top: 30px


