.view-all
	background-color: $color-grey
	font-family: $second-font
	color: #fff
	padding: 30px
	.title
		display: block
		text-align: center
	&__button-wrapper
		text-align: center
	.button
		text-decoration: none
		color: #fff
		display: inline-flex
		margin-top: 40px
		&__text
			margin-left: 10px