/*Global styles*/
*{
	margin: 0;
	padding: 0;
}

body{
	font: 1em 'Source Sans Pro',Arial,sans-serif;
}

a{
	text-decoration: none;
}

p{
	font-size: 18px;
	color: #999999;
	line-height: 25px;
}

.img-responsive{
	width: 100%;
	height: auto;
}

/*HOME section*/

#home{
	background: url(../img/home_bg.png) no-repeat;
	background-size: cover;
	padding-top: 116px;
}

#home .container{
	background: url(../img/devices_kopia.png) no-repeat;
	background-position: 100% 100%;

}

header{
	padding: 40px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

header .container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.logo{
	font-weight: bold;
	font-size: 28px;
	transition: .2s opacity;
}

.logo:hover{
	opacity: .3;
}

header a{
	color: #fff;
}

nav{
	display: flex;
	flex-flow: row-nowrap;
}

.nav-btn{
	flex-flow: column nowrap; 
	justify-content: space-between;
	align-items: center;
	width: 30px;
	height: 20px;
	cursor: pointer;
	display: none
}

.nav-btn span{
	width: 100%;
	height: 3px;
	background: #333;
	display: block;
	transition: .5s;
	position: relative;
	top: 20px;
	left: -50px;
}

.btn-active span:nth-child(2){
	opacity: 0;
}

.btn-active span:first-child{
	transform: rotate(45deg) translate(25%, 4.5px);
}

.btn-active span:last-child{
	transform: rotate(-45deg) translate(25%, -4.5px);
}

nav a{
	margin-left: 23px;
	position: relative;
	display: block;
}

nav a:after{
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background: #008ED6;
	position: absolute;
	bottom: -5px;
	left: 0;
	transition: .2s;
}

nav a:hover:after{
	width: 100%;
}

.content{
	margin: 70px 0 110px
}

.subtitle{
	color: #008ed6;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.home-title{
	color: #fff;
	font-size: 48px;
	margin: 48px 0;
}

.content p{
	font-size: 18px;
	color: #999999;
	margin-bottom: 67px;
}

button{
	padding: 21px 28px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	transition: .2s;
}

.download{
	margin-right: 20px;
	background: #008ED6;
	border: 1px solid #008ED6;
}

.download:hover{
	opacity: .6;
	cursor: pointer;
}

.view{
	background: transparent;
	border: 1px solid #444349;
}

.view:hover{
	background: #444349;
	cursor: pointer;
}

/*end of Home section*/

/*FEATURES section*/

#features{
	padding: 65px 0 75px;
	text-align: center;
	border-bottom: 1px solid #EFEFEF;
}

.title{
	font-size: 36px;
	padding: 23px 0 0;
}

.title:after{
	content: '';
	display: block;
	margin: 23px auto 0;
	width: 42px;
	border-bottom: 2px solid #008ED6;
}

#features .row{
	margin-top: 75px;
}

#features .row>div>div{
	border: 1px solid #E4E4E4;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
}

.monitor{
	background: url(../img/Monitor.png) no-repeat;
	background-position: 50% 50%;
}

.settings{
	background: url(../img/Settings.png) no-repeat;
	background-position: 50% 50%;
}

.like{
	background: url(../img/Like.png) no-repeat;
	background-position: 50% 50%;
}

.phone{
	background: url(../img/Phone.png) no-repeat;
	background-position: 50% 50%;
}

#features h4{
	font-size: 24px;
	font-weight: normal;
	margin: 30px 0 25px;

}

.features-part-2{
	padding: 65px 0 15px;
}

.features-part-2 .subtitle{
	margin-top: 55px;
}

.features-part-2 .title:after{
	margin: 23px 0 0;
}

.features-part-2 p{
	margin: 23px 0 40px;
}

.features-list{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

}

.features-part-2 ul{
	list-style: none;
	line-height: 30px;
	font-size: 18px;
	color: #1b1b1b;
	
}

.icons{
	margin-right: 10px;
}

.icons img{
	display: block;
	margin: 15px auto;
}

/*end of FEATURES section*/

/*ABOUT section*/

#about{
	padding: 33px 0 19px;
	background: #F2F2F2;
}

#about h3:after{
	margin: 23px 0 0;
}

#about p{
	margin-top: 30px;
}

/*end of ABOUT section*/

/*TESTIMONIALS section*/

#testimonials{
	background: url(../img/testimonials_bg.png) no-repeat;
	background-size: cover;
	padding: 65px 0 60px;
	text-align: center;
}

#testimonials h3{
	color: white;
}

.slider{
	margin-top: 95px;
	padding-bottom: 140px;
}

.slider>div{
	text-align: left;
	color: white;
}

.author {
	margin-top: 30px;
}

.slider img{
	display: inline-block;
}

.slider span{
	font-size: 14px;
}

ul.slick-dots li button:before{
	content: '';
	border: 1px solid #fff;
	color: transparent;
	opacity: .5;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

ul.slick-dots li.slick-active button:before{
	background: #fff;
	opacity: 1;
}

/*end of TESTIMONIALS section*/

/*QUESTION section*/

.question{
	padding: 60px 0;
	background: #15141A;
}

.question .container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.question h1{
	color: #fff;
	font-size: 30px;
}

.question h1 span{
	font-weight: normal;
	opacity: .5;
}

.question .buttons{
	display: flex;
}

.question .download{
	margin: 0;
	margin-left: 20px;
}

/*end of QUESTION section*/

/*PRICING section*/

#pricing{
	padding: 60px 0;
	text-align: center;
}

#pricing .row{
	margin-top: 70px;
}

.card{
	border: 1px solid #F3F3F3;
}

.card-header{
	padding: 25px;
	border-bottom: 1px solid #F3F3F3;
}

.card-header h2{
	font-size: 24px;
}

.card-price{
	font-size: 60px;
	padding: 45px 0;
	border-bottom: 1px solid #f3f3f3;
}

.card-price sup{
	font-size: 30px;
}

.card-body{
	padding: 55px 25px 30px;
}

.order-button{
	margin-top: 48px;
	background: transparent;
	color: #008ED6;
	font-weight: bold;
	border: 2px solid #f3f3f3;
	cursor: pointer;
}

.card:hover{
	cursor: pointer;
}

.card:hover .card-header h2{
	color: #008ed6;
}

.card:hover .card-price,
.card:hover .order-button,
.card:hover .card-price p{
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
}

/*end of PRICING section*/

/*CONTACT section*/

#contact{
	padding: 60px 0 10px;
	text-align: center;
	background: #EDEDED;
}

#contact .row img{
	margin: 60px 0 30px;
}

.contact-form{
	background: #15141A;
	padding: 60px 30px 40px;
	transform: translate(0, 70px);
}

.contact-form input, 
.contact-form textarea{
	width: 100%;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #333238;
	font-size: 14px;
	background: transparent;
	color: rgba(255,255,255,.2);
	margin-bottom: 20px;
	box-shadow: 0 0 2px 0 rgba(255,255,255,.2);
	transition: .2s;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder{
	color: rgba(255,255,255,.2);
}

.contact-form input:focus, 
.contact-form textarea:focus{
	box-shadow: none;
	outline: none;
}

.contact-form textarea{
	width: 100%;
	height: calc(100% - 20px);
	resize: none;
}

.send-message{
	border: none;
	background: #0087CC;
	font-weight: bold;
	margin: 20px 15px 0;
}

.send-message:hover{
	cursor: pointer;
	opacity: .7;
}

/*end of CONTACT section*/

/*MAP section*/

.map{
	height: 370px;
	background: url(../img/map.png) no-repeat;
	background-size: cover;
}

/*end of MAP section*/

/*FOOTER*/

footer{
	text-align: center;
	color: #444348;
	background: #15141A;
	padding: 50px 0;
}

.copyright{
	font-weight: bold;
	font-size: 14px;
}

.social{
	margin-bottom: 30px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.social a{
	color: #444348;
	margin: 0 15px;
	font-size: 16px;
	transition: .2s;
}

.social a:first-child:hover{
	color: #0056FF;
}

.social a:nth-child(2):hover{
	color: #C32361;
}

.social a:nth-child(3):hover{
	color: #0093D6;
}

.social a:nth-child(4):hover{
	color: #3B5998;
}

.social a:last-child:hover{
	color: #0274B3;
}

@media (max-width: 992px){
	#home .view{
		margin-top: 20px;
	}

	#pricing .col-lg-3:nth-child(3),
	#pricing .col-lg-3:last-child{
		margin-top: 50px;
	}

	#features .col-lg-3:nth-child(3),
	#features .col-lg-3:last-child{
		margin-top: 50px;
	}
}

@media (max-width: 767px){
	#home .container{
		background: none;
	}

	#features .col-md-6:not(:first-child){
		margin-top: 50px;
	}

	.features-part-2 .col-md-5:first-child{
		display: none;
	}

	.question .container{
		flex-direction: column;
	}

	.question .buttons{
		margin-top: 30px;
	}

	#pricing .col-md-6:not(:first-child){
		margin-top: 50px;
	}

	nav{
		flex-flow: column;
		position: fixed;
		width: 50%;
		height: 100vh;
		top: 0;
		right: -50%;
		background: rgba(0,0,0,.4);
		z-index: 99;
		transition: .5s;
	}

	nav.nav-active{
		right: 0;
	}

	nav a{
		margin: 0;
		padding: 10px;
		text-align: center;
	}

	.nav-btn{
		display: flex;
	}
}

@media (max-width: 576px){
	nav{
		width: 70%;
		right: -70%;
	}
}