/*==========  Desktop First  ==========*/
// ≥768px
@media (max-width: 767.98px){
	.show-sm{
		display: block;
	}
	.hide-sm{
		display: none;
	}
	body{
		min-width: 100%;
		width: 100%;
		overflow-x: hidden;
		touch-action: manipulation;
	}
	.container{
		width: 90%;
	}

	// HEADER START
	header{
		padding: 10px 0;
		.row{
			width: 100%;
		}
	}
	nav{
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 60px;
		z-index: 995;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		background-color: rgba(0,0,0,.6);
		a{
			border: none;
			display: block;
			width: 100%;
			padding: 10px 0;
			text-align: center;
		}
	}
	.logo{
		width: 110px;
	}
	// HEADER END
	
	// HERO START
	.hero{
		padding-top: 60px;
		padding-bottom: 20px;
		.container{
			padding: 0
		}
		h1{
			font-size: 26px;
		}
		&-form{
			position: relative;
			margin: 10px auto;
			button[type="submit"]{
				transform: translate(0, 20px);
			}
		}
	}
	.price-since{
		font-size: 32px;
		margin: 0;
		padding: 0 5px;
		border-radius: 5px;
		&:before{
			display: none;
		}
		&:after{
			font-size: 12px;
			left: 225px;
			top: 8%;
			width: 75px;
			height: 45px;
			background-size: 30px;
		}
	}
	.price{
		margin: 0;
		span{
			display: none;
		}
	}
	// HERO END

	// FORMS START
	.form-wrapper{
		box-sizing: border-box;
		max-width: 289px;
		h3{
			font-size: 25px;
			span{
				font-size: 15px;
			}
		}
	}
	form{
		text-align: center;
		h3{
			font-size: 25px;
			span{
				font-size: 15px;
			}
		}
		label span{
			font-size: 15px;
		}
		label{
			display: block;
			text-align: right;
		}
		input[type="text"],
		input[type="tel"]{
			width: 189px;
			font-size: 15px;
			padding: 7px 5px;
			margin: 0;
		}
		button[type="submit"]{
			margin: 0;
			transform: translate(0, 20px);
		}
		.error{
			font-size: 12px;
		}
	}
	// FORMS END
	
	// BUTTONS START 
	.button{
		font-size: 12px;
	}
	.button-buy{
		font-size: 14px;
	}
	// BUTTONS END
	
	// GIFT START
	.gift{
		h2{
			font-size: 17px;
		}
		p{
			font-size: 13px;
		}
		.subtitle{
			font-size: 12px;
			line-height: 1.4;
		}
		&-row{
			flex-flow: column nowrap;
		}
		.step{
			text-align: center;
			align-items: center;
			&:nth-child(2),
			&:nth-child(3){
				margin-top: 90px
			}
			&:nth-child(2):after,
			&:nth-child(3):after{
				transform: rotate(90deg);
				top: -28%;
				left: 50%;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			p{
				margin-top: 10px;
			}
		}
	} 
	// GIFT END 
	
	// PRICING START
	.pricing{
		padding-top: 10px;
		height: auto;
		padding-bottom: 40px;
		margin-bottom: 0;
		h2{
			font-size: 17px;			
		}
		& h3, & .card-price{
			font-size: 20px;
		}
	}
	.card{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		&:first-child{
			margin-top: 10px;
		}
	}
	// PRICING END
	
	// SCHEME START
	.scheme{
		padding-top: 10px;
		padding-bottom: 40px;
		h2{
			padding-bottom: 10px;
			font-size: 17px;
		}
		.subtitle{
			font-size: 12px;
		}
		.content{
			&:before{
				display: none;
			}
		}
		&-row{
			width: 100%;
			flex-flow: row wrap;
			margin-top: 0px;
		}
		.step{
			width: 50% !important;
			margin-left: 0;
			align-items: center;
			margin-top: 25px;
			p{
				font-size: 12px;
			}
		}
		.img-wrapper{
			width: 120px;
			display: inline-flex;
		}
		form{
			width: 289px;
			box-sizing: border-box;
			input[type="text"],
			input[type="tel"]{
				width: 223px;
			}
		}
	}
	// SCHEME END 
	
	// CAUSES START
	.causes{
		padding: 25px 0;
		h2{
			font-size: 17px;
		}
		.white{
			font-size: 12px;
		}
		.five{
			font-size: 130px;
		}
		.container{
			flex-flow: row wrap;
		}
		.col{
			width: 100%;
			margin-left: 0;
			margin-top: 0;
			&:first-child{
				margin-bottom: 20px;
			}
		}
		h3{
			font-size: 15px;
		}
		li{
			padding-left: 30px;
			background-size: 30px;
			p{
				font-size: 12px;
			}
		}
		&:after{
			width: 100%;
			bottom: 0;
			height: 74%;
		}
	} 
	// CAUSES END
	
	// TESTIMONIALS START
	.testimonials{
		h2{
			font-size: 17px;
			padding: 20px 0;
		}
		.thanks{
			font-size: 12.5px;
			padding: 0 55px;
			&:after,
			&:before{
				width: 45px;
				border-width: 3px;
			}
		}
		&-form{
			transform: translate(-50%, 10px);
		}
		&:after{
			background-size: contain;
		}
	}
	.left-col{
		width: 100% !important;
		margin: 0;
		height: auto;
	}
	.right-col{
		width: 100%;
		height: auto;
		margin-top: 10px;
		p{
			font-size: 12px;
		}
		strong{
			font-size: 12px;
		}
	}
	.main-img,
	.main-video{
		height: auto;
	}
	.main-video{
		&:before{
			width: 110px;
			height: 70px;
		}
		&:after{
			border-left-width: 25px;
			border-top-width: 15px;
			border-bottom-width: 15px;
		}
	}
	.gallery{
		height: 50px;
		a:nth-child(4),
		a:nth-child(5){
			display: none;
		}
	}
	// TESTIMONIALS END
	
	// SLIDER START
	.slider{
		width: 290px;
		.frame{
			width: 290px;
		}
		.js_slide{
			width: 290px;
			flex-flow: column nowrap;
		}
		.prev, .next{
			width: 15px;
			height: 40px;
		}
		.prev{
			left: -15px;
		}
		.next{
			right: -14px;
		}
	}
	// SLIDER END

	// SPEC-OFFER START
	.spec-offer{
		padding-top: 220px;
		padding-bottom: 20px;
		h2{
			font-size: 17px;
		}
		h3{
			font-size: 14px;
		}
		p{
			font-size: 12px;
		}
		&-text{
			text-indent: .8em;
			width: 100%;
			margin: 0;
		}
		&-title{
			margin-bottom: 10px;
		}
		&-row{
			width: 100%;
			margin: 0;
			flex-flow: row wrap;
		}
		ul{
			margin-top: 10px;
		}
		&-form{
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
		}
		h4{
			font-size: 17px;
		}
		li{
			font-size: 12px;
		}
	}
	// SPEC-OFFER END
	
	// FOOTER START
	.footer-main{
		padding: 10px 0;
		background-image: none;
		.container{
			flex-flow: column wrap;
		}
	}
	.footer-logo{
		margin: 0 auto;
		width: 150px;
		img{
			width: 100%;
			height: auto;
		}
		&-text{
			display: none;
		}
	}
	.footer-info{
		font-size: 12px;
		img{
			width: 25px;
		}
	}
	.subfooter{
		padding: 0;
		.container{
			flex-flow: column nowrap;
			text-align: center;
		}
		p, a{
			font-size: 12px;
			margin: 0;
		}
	}
	// FOOTER END
}

@media (min-width: 768px){
	.show-sm{
		display: none;
	}
	nav{
		display: flex !important;
	}
}