.connect-btn
	display: flex
	position: relative
	text-decoration: none
	overflow: hidden
	justify-content: center
	align-items: center
	width: 60px
	height: 60px
	transition: .2s 
	border-radius: 50%
	transition: .4s
	background-image: linear-gradient(to left, $accent, darken($accent, 20))
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4)
	transform-origin: center
	&__icons
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		justify-content: center
		position: absolute
		top: 0
		bottom: 0
		left: 0
		transition: .4s
		&.slide-anim
			animation: slide-anim 14s linear infinite
			.connect-btn__icon:not(:first-child)
				animation: scale-anim 1.225s linear infinite
	&__icon
		width: 30px
		height: 30px
		fill: #fff
		margin-left: 15px
		margin-right: 15px
		transition: .4s
		transform: scale(.6)
		&:last-child
			margin-right: 40px
		&:first-child
			transform: scale(1)
	

	@keyframes slide-anim
		0
			left: 0
		8.3%
			background: #2E77A4
		16.6%
			background: #00A8DD
		24.9%
			background: #23599B
		33.2%
			background: #FF9500
		41.5%
			background: #4AB632
		49.3%
			left: -600%
			background: #7D3DAE
		58.2%
			background: #4AB632
		66.5%
			background: #FF9500
		74.8%
			background: #23599B
		83%
			background: #00A8DD
		91.4%
			background: #2E77A4
		100%
			left: 0
			background: transparent

	@keyframes scale-anim
		30%
			transform: scale(.6)
		69%
			transform: scale(1)
		100%
			transform: scale(.6)
		