@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.nav ul li
	    margin-left: 10px
	    margin-right: 10px

// ≥992px
+media-breakpoint-down(md)
	// header
	.header
		position: relative
		&__row
			justify-content: space-between

	// nav
	.nav
		position: absolute
		top: 59px
		right: 0
		left: 0
		z-index: 999
		background-color: rgba(#F3F4F5, .8)
		flex-direction: column
		width: 100%
		justify-content: center
		ul
			flex-direction: column
			text-align: center
			li
				padding: 10px
		.auth-box
			margin-top: 20px
			margin-bottom: 20px

	// home-card
	.home-card
		&--main
			flex-direction: column 
			.home-card__content
				width: 100%
				padding-top: 45px
				padding-left: 30px
				padding-right: 30px
				padding-bottom: 45px

	// subscribe
	.subscribe
		&__box
			flex-direction: column
			padding-top: 45px
			padding-left: 30px
			padding-right: 30px
			padding-bottom: 45px
			align-items: flex-start
		&__info
			width: 100%
		&__swiper-button
			margin-top: 35px

// ≥768px
+media-breakpoint-down(sm)
	// Global font size
	.page
		font-size: 14px

	// header
	.header
		padding-top: 25px
		padding-bottom: 25px

	// home-card
	.home-card
		&--main
			.home-card__content
				padding-top: 35px
				padding-left: 20px
				padding-right: 20px
				padding-bottom: 35px

	// subscribe
	.subscribe
		&__box
			padding-top: 35px
			padding-left: 20px
			padding-right: 20px
			padding-bottom: 35px

	// footer
	.footer
		&-top
			text-align: center
			padding-top: 25px
			padding-bottom: 25px
			&__row
				flex-direction: column
				align-items: center
			&__left-col
				width: 100%
				padding-right: 0
				order: 1
				margin-top: 35px
			&__right-col
				width: 100%
				padding-left: 0
				order: 0
				flex-direction: column
			&__col
				border-bottom: 1px solid $light-text
		&__logo
			margin-left: auto
			margin-right: auto
		&__socials
			.socials__links
				justify-content: center
		&__nav
			li
				padding: 10px
			&.hide
				display: none
			&-title
				padding-top: 20px
				padding-bottom: 20px
				padding-right: 20px
				padding-left: 20px
				&-icon
					display: block

	// basic-course-banner
	.basic-course-banner
		padding-top: 30px
		padding-bottom: 30px
		background-image: none


// ≥576px
+media-breakpoint-down(xs)
	


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
